.create-post-container {

  display: flex;
  justify-content: center;
  height: 100vh;
  /* max-width: 80%; */
}

.post-content {
  margin-top: 72px;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-content input {
  display: block;
  box-sizing: border-box;
  /* border-radius: 5px; */
  border: 1.3px solid hsl(0, 0%, 100%);

  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 15px 25px;
  width: 100%;
}

.post-content input:focus {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 560;
  border: 0 0 1.3px 0 solid hsl(246, 25%, 77%);
}

#action {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
}

#action select {
  width: 50%;
  height: 100%;
  border: hsl(0, 0%, 100%);
  color:rgb(99, 99, 99)
}

#post-category {
  width: 200px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 500;
  padding: 15px 25px;
  width: 20%;
  letter-spacing: 1px;
}

#submit-button {
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 40%);
  box-shadow: 0 2px hsl(154, 59%, 40%);
  color: white;
  display: block;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 25px;
  letter-spacing: 1px;
  width: 20%;
}

#submit-button:focus {
  outline: none;
}

#submit-button:active {
  box-shadow: 0 2px hsl(154, 59%, 40%);
  transform: translateY(2px)
}


.post-content #editor-control {
  display: flex;
  justify-items: space-around;
  width: 100%;
}


.post-content #editor-control form button {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  box-shadow: 2px 2px 2px 1px hsl(246, 25%, 77%);
}
.post-content #editor-control form button:focus {
  outline:hsl(246, 25%, 77%);
}

.post-content #editor-control form button:active {
  box-shadow: 0 2px hsl(246, 25%, 77%);
  transform: translateY(2px)
}
.post-content #output {
  width: 100%;
  height: 100vh;
  border: .2px solid, #111;
  box-shadow: #111;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 960px) {
  .post-content {
    width: 100%;
  }

  .post-content input {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 5px;
  }

  .post-content input:focus {
    font-size: 2rem;
    font-weight: 240;
  }

  #action select {
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 200;
    width: 50%;
  }

  #submit-button {
    font-size: 1rem;
    width: 30%;
  }

  .post-content #editor-control form button {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .2rem;
  }

}
