/* Home Styles */

#home-container {
  display: grid;
  width: 80%;
  grid-template-columns: [leftNav] 0px [main] 90% [rightNav] 10%;
  grid-template-areas:
    "leftNav main rightNav"
}

.home-all-posts {
  margin-left: 220px;
  margin-right: 200px;
}

.home-main-content {
  grid-area: main;
  margin-right: 20px;
}

.home-side-nav {
  grid-area: leftNav;
}

.right-nav-bar {
  grid-area: rightNav;
}

#title-line {
  width: 400px;
  align-items: left;
  height: 2px;
  border: none;
  margin-left: 20px;
  background: white;
  background: black;
}

#home-title {
  font-family: 'Libre Franklin', sans-serif;
  padding: 10px;
  text-decoration: none;
  /* color: white; */
  color: black;
  font-size: 30px
}

/* Title Console Text */
.console-container {
  /* margin: auto; */
  width: auto;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 20px;
  margin-top: 12vh;
  margin-bottom: 5vh;
  background-color: #FFC017;
  box-shadow: 3px 3px 3px 1px grey;
  height: 250px;
  /* height: auto; */
  width: 100%;
  border-radius: 5px;
  margin-left: 250px;
}

/* #title-line {
  width: 200px;
} */

.text-typing {
  font-family: 'Libre Franklin', sans-serif;
  /* text-shadow: 2px 2px 2px hsl(180, 24%, 47%); */
  /* text-shadow: 2px 2px 2px white; */
  /* text-shadow: 2px 2px 2px rgb(255, 172, 49); */
  /* color: white; */
  color: black;
  padding: 10px;
  font-size: 8vh;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 10px
}

.text-typing p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22, end) forwards,
    blink 1s infinite;
}

@keyframes typing {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@keyframes blink {

  0%,
  100% {
    border-right: 2px solid transparent;
  }

  50% {
    /* border-right: 2px solid white; */
    border-right: 2px solid black;
  }
}

/* Medium devices (tablets, 800px and down) */

@media (max-width: 1300px) {


  .text-typing {
    font-family: 'Libre Franklin', sans-serif;
    /* color: white; */
    color: black;
    padding: 10px;
    font-size: 55px;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

@media (max-width: 1000px) {
  .right-nav-bar {
    display: none;
  }

  .console-container {
    /* margin: auto; */
    height: 200px;
  }

  .text-typing {
    font-family: 'Libre Franklin', sans-serif;
    /* color: white; */
    color: black;
    padding: 10px;
    font-size: 6vh;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

@media (max-width: 700px) {
  .console-container {
    /* margin: auto; */
    height: 150px;
    /* height: auto; */
    width: 100vw;
    border-radius: 5px;
    margin-left: 10px;
  }

  .text-typing {
    font-family: 'Libre Franklin', sans-serif;
    /* color: white; */
    color: black;
    padding: 10px;
    font-size: 30px;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    /* padding-left: 10px */
  }

  @keyframes typing {
    0% {
      width: 0%
    }

    100% {
      width: 70%
    }
  }

  .home-all-posts {
    margin-left: -50px;
    padding: 0;
    width: 100vw
  }

  .home-side-nav {
    display: none;
  }
}
