.landingpage {
  background-color:aliceblue;
  padding: 0 10% 0 10%;

}
.landingpage__header {
  background-color: #FFC017;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.landingpage__header #nav{
  background-color: blanchedalmond;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.landingpage__header #nav__content {
  background-color: #FFC017;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  padding: 30px 0 0 0;
}
.landingpage__header span {
  margin-left: 10px;
}
.landingpage__short #highlight {
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  flex-direction: row;
  flex-wrap: wrap;
}

.landingpage__infinitescroll {
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
