
#logout-body {
  height:  100vh;
  /* background: linear-gradient(white, white, white, #0b5b6d); */
  background-size: cover;
}

#logout-container {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: [first] 20px [second] 150px [third] 5px [fourth] 150px [last] 20px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:

   "title title title title title"
   "image image image image image"
   "main-text main-text main-text main-text main-text"
   ". logout-button . back-home-button ."

}

#logout-image {
  grid-area: image;
  width: 400px;
  border-radius: 5px;
}

#logout-title {
  grid-area: title;
  margin-bottom: 2
}

#main-text {
  grid-area: main-text;
  margin-top: 70px;
  margin-bottom: 0
}

#logout-button {
  grid-area: logout-button;
  padding: 10px;
  font-size: 14px;
  color: black;
  background-color: #FFC017;
  border: black 1px solid;
}

#back-home-button {
  grid-area: back-home-button;
  border:black 1px solid;
  font-size: 14px;
  padding: 10px
}

#logout-button:hover {
  color: #FFC017;
  background-color: white;
  border: #FFC017 1px solid;
}

#back-home-button:hover {
  background-color: white;
  border: black 1px solid;
}
