.myprofile {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  height: auto;
  grid-template-columns: [first] 150px [second] auto [third] 30%;
  grid-template-areas:
    "leftNav main rightNav";
  /* for all boxes */
  color: black;
  min-height: 100vh;
}


.myprofile__leftsidebar {
  grid-area: leftNav;
  border-right: rgb(237, 237, 237) 1px solid;
  background-color: #FFC017;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 80px 0 0 30px;
  height: 100%;
  width: 120px;
}

.myprofile__maincontent {
  grid-area: main;
  padding: 0 50px 0 50px;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: black;
}
.myprofile__poststitle {
  color: #FFC017;
}

.myprofile__poststitlecontainer {
  padding: 0 0 0 0;
  width: 100%;

}

.myprofile__maincontentposts {
  display: grid;
  grid-template-columns: [first] 100px [second] auto [third] 80px [fourth] 10px [fifth] 80px [sixth] auto;
  grid-template-areas:
    "title title title title title title"
    "date date . . . . "
    "main main main main main image"
    "mins mins edit . delete .";
  border-bottom: rgb(223, 222, 222) 1px solid;
}


.myprofile__articletitle {
  grid-area: title;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 5px;
}

.myprofile__postcontent {
  grid-area: main;
  font-family: 'Halant', serif;
  /* font-weight: 300; */
  color: rgb(55, 55, 55);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: -5px;
}

.myprofile__date {
  grid-area: date;
  margin: 0 0 0 0;
  font-size: 14px;
}

.myprofile__editbutton {
  grid-area: edit;
  cursor: pointer;
}

.myprofile__deletebutton {
  grid-area: delete;
  color: red;
  text-decoration: none;
  background-color: transparent;
  width: 65px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.myprofile__deletebutton:hover {
  color: white;
  background-color: red;
}

.myprofile__mins {
  grid-area: mins;
  font-size: 14px;
}

.myprofile__articlebottom {
  display: flex;
  justify-content: space-between;
}

.myprofile__rightsidebar {
  grid-area: rightNav;
  border: rgb(237, 237, 237) 1px solid;
}

.myprofile__userinfocontainer {
  padding-top: 100px;
  padding-left: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: [first] 100px [second] 250px;
  grid-template-areas:
    "image username"
    "image createdAt"
    "name name"
    "location location"
}

.myprofile__userimage {
  grid-area: image;
  border-radius: 100%;
  width: 80px
}

.myprofile__username {
  grid-area: username;
  font-size: 22px;
  margin: 0
}

.myprofile__name {
  grid-area: name;
  margin-top: 15px;
  font-size: 18px;
}

.myprofile__location {
  grid-area: location;
  margin-top: 0px;
  font-size: 18px;
}

.myprofile__accountcreated {
  grid-area: createdAt;
  margin: 0;
}

@media (max-width: 800px) {
  .myprofile__maincontentposts {
    display: grid;
    grid-template-columns: [first]  100px [second]  80px [fourth] 10px [fifth] 80px [sixth] auto;
    grid-template-areas:
      "title title title title title"
      "date date . . . "
      "mins mins edit . delete ";
    border-bottom: rgb(223, 222, 222) 1px solid;
    justify-items: left;
  }

  .myprofile__postcontent {
    display: none
  }

  .myprofile {
    display: grid;
    height: auto;
    grid-template-columns: [first] 150px [second] auto;
    grid-template-areas:
      "leftNav main";
    /* for all boxes */
    color: black;
    min-height: 100vh;
  }

  .myprofile__rightsidebar {
    display: none;
  }

}

@media (max-width: 525px) {
  .article-title {
    grid-area: title;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .myprofile {
    display: grid;
    height: auto;
    grid-template-columns: [first] auto;
    grid-template-areas:
      "main";
    /* for all boxes */
    color: black;
    min-height: 100vh;
  }

  .myprofile__leftsidebar {
    display: none
  }
}
