/* All Posts Cards */
#posts-content {
  margin-left: 180px;
  margin-right: 20px;
  margin-top: 80px;
  /* margin-top: 100px; */
}

.each-box {
  margin-bottom: 50px;
}

.post-card {
  /* background-color: white; */
  /* background-color: hsl(180, 53%, 93%); */
  /* box-shadow: 2px 2px 2px hsl(180, 24%, 47%); */
  /* border-radius: 2px; */
  margin: 15px;
  padding-left: 25px;
  max-width: 40vw;
  margin-left: 50px
}

#cards-container {
  display: grid;
  justify-content: start;
  grid-template-columns: [first] 200px [second] 100px [third] 25% [fourth] 25% [last] 10%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    "authorAndCreated authorAndCreated authorAndCreated . . ."
    "title title title title title image"
    "main main main main main image"
    "category minRead . . . .";
}

.author-and-created {
  grid-area: authorAndCreated;
  margin-bottom: 10px;
}

.article-date {
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.author {
  padding-bottom: 10px;
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.article-title {
  grid-area: title;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.article-link {
  text-decoration: none;
  color: black;
}

.post-image {
  grid-area: image;
  grid-column: 6;
  grid-row: 3;
  margin-right: 10px;
  width: 100px;
  border-radius: 2px;
  place-self: start end;
  /* height: 0;
  padding-top: 56.25%;
  margin-top: 30; */
}

.article-content {
  grid-area: main;
  font-family: 'Halant', serif;
  /* font-weight: 300; */
  color: rgb(55, 55, 55);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 5px
}

.article-category {
  grid-area: category;
  margin-top: 10px;
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.article-min-read {
  grid-area: minRead;
  margin-top: 10px;
  font-size: 12px;
  color: rgb(121, 118, 118);
}

.category-border {
  border: rgb(121, 118, 118) solid 1px;
  background-color: rgb(235, 235, 235);
  color: black;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px
}

.other-posts-title {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  margin-top: 80px;
  margin-left: 230px
}

#dot {
  width: 50px;
}

@media (max-width: 1000px) {
  #cards-container {
    display: grid;
    justify-content: start;
    grid-template-columns: [first] 200px [second] 100px [third] 40% [fourth] 40% [last] 20%;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
      "authorAndCreated authorAndCreated authorAndCreated ."
      "title title title title"
      "category minRead . .";
  }

  .article-content {
    display: none;
  }
}

@media (max-width: 400px) {
  .article-title {
    grid-area: title;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
