/* All Posts Cards */
#posts-content {
  /* margin-left: 180px; */
  /* margin-right: 20px; */
  margin-top: 30px;

  /* margin-top: 100px; */
}

.other-posts-page-title {
  margin-left: 40px;
  margin-bottom: 40px;
  border-bottom: rgb(237, 237, 237) 1px solid;
  max-width: 600px
}

.other-posts-container {
  margin-top: 80px;
  display: grid;
  width: 100%;
  grid-template-columns: [leftNav] 220px [main] 790px [rightNav] 1fr;
  grid-template-areas:
    ". posts rightNav"
}

.other-posts-posts {
  grid-area: posts;
  margin-left: 30px;
  /* margin-right: 180px; */
}

.other-posts-right-nav{
  grid-area: rightNav;
}

.each-box {
  margin-bottom: 30px;
  /* margin-right: 80px; */
  align-self: center;
}

.post-card {
  /* background-color: white; */
  /* background-color: hsl(180, 53%, 93%); */
  /* box-shadow: 2px 2px 2px hsl(180, 24%, 47%); */
  /* border-radius: 2px; */
  margin: 15px;
  padding-left: 25px;
  max-width: 40vw;
  /* margin-left: 50px; */
}

#cards-container {
  display: grid;
  max-width: 600px;
  justify-content: start;
  grid-template-columns: [first] 200px [second] 200px [third] 100px [fourth] auto [last] 40px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  border-bottom: rgb(237, 237, 237) 1px solid;
  grid-template-areas:
    "authorAndCreated authorAndCreated authorAndCreated . . ."
    "title title title title title image"
    "main main main main main image"
    "category minRead . . . .";
}

.author-and-created {
  grid-area: authorAndCreated;
  margin-bottom: 10px;
}

.article-date {
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.author {
  padding-bottom: 10px;
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.article-title {
  grid-area: title;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.article-link {
  text-decoration: none;
  color: black;
}

.post-image {
  grid-area: image;
  grid-column: 6;
  grid-row: 3;
  margin-right: 10px;
  margin-left: 10px;
  width: 100px;
  border-radius: 2px;
  place-self: start;
  /* height: 0;
  padding-top: 56.25%;
  margin-top: 30; */
}

.article-content {
  grid-area: main;
  font-family: 'Halant', serif;
  /* font-weight: 300; */
  color: rgb(55, 55, 55);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 5px
}

.article-category {
  grid-area: category;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(121, 118, 118);
  font-size: 12px;
}

.article-min-read {
  grid-area: minRead;
  margin-top: 10px;
  font-size: 12px;
  color: rgb(121, 118, 118);
}

.category-border {
  border: rgb(121, 118, 118) solid 1px;
  background-color: rgb(235, 235, 235);
  color: black;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px
}

.other-posts-title {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  margin-top: 80px;
  margin-left: 230px
}

#dot {
  width: 50px;
}


@media (max-width: 1250px) {

  #cards-container {
    display: grid;
    grid-template-columns: [first] 50% [second] 25% [third] 40%;
    grid-template-areas:
      "authorAndCreated authorAndCreated authorAndCreated"
      "title title title"
      "main main main"
      "category minRead .";
  }

  #posts-content {
    /* margin-left: 180px; */
    /* margin-right: 20px; */
    /* margin-left: 2%; */

    /* margin-top: 100px; */
  }
}

@media (max-width: 1170px) {

  .other-posts-container {
    grid-template-columns: [leftNav] 220px [main] auto;
    grid-template-areas:
      ". posts"
  }

  #cards-container {
    display: grid;
    grid-template-columns: [first] 50% [second] 25% [third] 60%;
    grid-template-areas:
      "authorAndCreated authorAndCreated authorAndCreated"
      "title title title"
      "main main main"
      "category minRead .";
  }

  .other-posts-right-nav {
    display: none;
  }
}

@media (max-width: 700px) {
  .other-posts-container {
    grid-template-columns: [space] 5% [main] 95%;
    grid-template-areas:
      ". posts"
  }

  #cards-container {
    display: grid;
    grid-template-columns: [first] 60% [second] 50% [third] 100% [fourth] 20%;
    grid-template-areas:
      "authorAndCreated authorAndCreated authorAndCreated . "
      "title title title title"
      "category minRead . .";
  }

  .other-posts-sidenav {
    display: none;
  }

  .other-posts-posts {
    margin-left: -30px;
  }

  .article-content {
    display: none;
  }
}

@media (max-width: 450px) {

  #cards-container {
    display: grid;
    grid-template-columns: [first] 150px [second] 100px [third] 40px [fourth] 40px;
    grid-template-areas:
      "authorAndCreated authorAndCreated authorAndCreated . "
      "title title title title"
      "category minRead . .";
  }

  .article-title {
    grid-area: title;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
  }



}
