.signin {
    background-color: hsl(0, 0%, 100%);
    /* height: 960px; */
    /* for all boxes */
    padding-top: 6rem;
    color: rgb(0, 0, 0);
    /* box-sizing: border-box; */
    overflow: hiddenr;
}

.signin__container {
    /* to make the box side by side */
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    /* to center */
    padding: 20px;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    /* background-color: aquamarine; */
    /* center signin__container in signin */
    margin: 0 auto;
}


/* apply for only the direct children from .signin__container */

.signin__container>div {
    flex: 1;
    padding: 18% 20px;
}

.signin__left {
    padding: 20px;
    /* background-color: slategrey; */
}

.signin h1 {
    font-size: 40px;
    line-height: 50px;
}

.signin p {
    font-size: 16px;
    opacity: 0.8;
}
.signin small {
    color: hsl(0, 100%, 74%);
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}

.signin small a {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
}
.signin__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* .signin__box-blue {
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
} */

.signin__box-blue p {
    text-align: center;
    margin: 0;
}
.signin__form {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
    color: black;
}

.signin__form-control {
    position: relative;
    margin-bottom: 30px;
}

.signin__form-control small {
    /* hidden by default */
    /* display: none; */
    color: hsl(0, 100%, 74%);
	font-weight: 600;
	position: absolute;
	bottom: -24px;
	right: 0;
	opacity: 0;
	text-align: right;
}

.signin__form-control.error input {
	border-color: hsl(0, 100%, 74%);
	color: hsl(0, 100%, 74%);
}

.signin__form-control.error input::placeholder {
	color: hsl(0, 100%, 74%);
}

.signin__form input {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1.3px solid hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    width: 100%;
}

.signin__form input:focus {
    border: 1px solid hsl(248, 32%, 49%);
    outline: none;
}

.signin__form-control small {
	opacity: 0;
}

.signin__form-control.error small {
	opacity: 1;
}

small {
	display: block;
	color: #bbb;
	font-size: 11px;
	font-weight: 500;
	margin-top: 15px;
}

small a {
	color: hsl(0, 100%, 74%);
	font-weight: 600;
	text-decoration: none;
}
.signin__form button {
    /* background-color: hsl(154, 59%, 51%); */
    background-color: #FFC017;
    border-radius: 5px;
    border: 1px solid #ce9b0f;
    box-shadow: 0 2px grey;
    color: black;
    cursor: pointer;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    width: 100%;
    letter-spacing: 1px;
}

.signin__form button:focus {
    outline: none;
}
.signin__form button:active {
    box-shadow: 0 2px #FFC017;
    transform: translateY(2px)
}

@media screen and (max-width: 768px) {
    .signin__container {
        flex-direction: column;
    }
    .signin h1, p {
    text-align: center;
    }
}
