@import '/app/css/SignIn.css';
@import '/app/css/SignUp.css';
@import '/app/css/Navbar.css';
@import '/app/css/Home.css';
@import '/app/css/CreatePost.css';
@import '/app/css/MyProfile.css';
@import '/app/css/SinglePost.css';
@import '/app/css/OtherAllPosts.css';
@import '/app/css/SideNav.css';
@import '/app/css/NoPosts.css';
@import '/app/css/AdminSideNav.css';
@import '/app/css/AdminPortalUsers.css';
@import '/app/css/AdminPortalPosts.css';
@import '/app/css/Logout.css' ;
@import '/app/css/LandingPage.css' ;

body {
    font-family: 'Mulish', sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0;
    /* background-color: hsl(180, 29%, 73%); */
    /* background-color: hsl(180, 53%, 93%); */
}



