body {
  font-family: 'Mulish', sans-serif;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.nav-bar {
  justify-content: space-between;
  align-items: flex-end
}

#site-title {
  font-family: 'Merriweather', serif;
  padding: 10px;
  font-size: 6vh;
  margin: 0px;
  padding-top: 25px;
  padding-left: 10px
}

nav {
  display: flex;
  align-self: right;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  /* border-bottom: 1px solid #000 */
}

.nav-link ul{
  display: flex;
  text-align: right;
  padding-right: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  padding: 10px;
  color: rgb(2, 99, 99);
  border-bottom: 1px solid #000;
}

/* Home Styles */
#home-title {
  padding: 10px
}

#all-posts-table, td {
  margin-left: 10px;
  border: black solid 1px;
}

.image-cell {
  width: 10vh
}

.post-image {
  width: 20vh
}

.home-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;

  width: 20vh;
  background: #0b5b6d;
}

.home-nav-link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
}
