@import '/app/css/SignIn.css';
@import '/app/css/SignUp.css';
@import '/app/css/Navbar.css';
@import '/app/css/Home.css';

body {
    font-family: 'Mulish', sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}



